{}
*, *::before, *::after{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --c1: #400862;    
    --c2: #009BDB;   
    --c3: #30aabb;    
    --c3: #507EA7;
    --f1: #FFFFFF;
    --f2: #EDEDED;
    --f3: #FFFFFF;
    --f4: #F9F9F9;
    --g1:;
    --g2: #a1a1a1;
    --t1:;
    --t2: rgba(0, 0, 0, .7);
    --t3: rgba(0, 0, 0, .8);
    --n: #000000;
    --b: #FFFFFF;
}

body {    
    max-width: 1360px;
    margin-left: auto;
    margin-right: auto;
    font-family: roboto1, sans-serif;
    font-size: 15px;
    color: #000000;
}

header {
    background: linear-gradient(var(--n),var(--c1));
    height: 160px;
    display: flex;
    align-items: center;
    justify-content: space-between;    
    padding: 0 15px 0 27px;    
}

img {
    display: block;
}

a {
    text-decoration: none;
    color: #400862;
}

.trazo img{        
        width: 100%;
    }

/*---------  estilos del logo ----------*/
.marco-logo {
    width: 302px;
    height: 82px;
    background: rgb(111,109,112);
    background: linear-gradient(90deg, rgba(111,109,112,1) 0%, rgba(255,255,255,1) 20%, rgba(111,109,112,1) 40%, rgba(255,255,255,1) 60%, rgba(111,109,112,1) 80%, rgba(255,255,255,1) 100%);
    display: flex;
    align-items: center;
    justify-content: center;    
}

.cont-logo {
    min-width: 300px;
    height: 80px;
    color: #fff;   
    padding: 5px 11px 5px 16px;
    font-family: great;
    letter-spacing: .01em;
    font-size: 35px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    background: linear-gradient(var(--n),var(--c1));
}

.cont-letras {
    width: 59%;
    display: flex;
    flex-direction: column;
}

.spanl1 {
    position: relative;
    top: 10px;
    -webkit-box-reflect: below -24px -webkit-gradient(linear, left top, left bottom, from(transparent), to(rgba(255, 255, 255, 0.4)));
}

.spanl2{
    text-align: right;
    position: relative;
    bottom: 5px;
    -webkit-box-reflect: below -24px -webkit-gradient(linear, left top, left bottom, from(transparent), to(rgba(255, 255, 255, 0.4)));
}

.cont-logo img {
    width: 97px;
}        
/*-------- fin estilos del logo --------*/


nav {    
    background-color: var(--f2);   
    z-index: 10;
    position: relative;
/*
    position: sticky;
    top: 0;
*/
}

#btn-menu, nav > label {
    display: none;
} 

.ul1 {
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    list-style: none;
    gap: 0 2px;
}

.ul2 {    
    list-style: none;
    padding: 0;
    margin: 0;
    display: none;
}

[class^="li1"] {
    background-color: #E0E0E0;
    color: #000000;
    width: 140px;   
    height: 45px;
    cursor: pointer;
}

[class^="li1"] a {
    height: 100%;
    display: block;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000000;
    font-family: roboto3;    
    font-size: 14px;
    font-weight:00;
    box-shadow: inset 3px 3px 5px rgba(255,255,255,.5), inset -2px -2px 4px rgba(0,0,0,.5), 2px 2px 3px rgba(0,0,0,.1);
    border-bottom: 5px solid var(--c1);
    transition: background-color .3s;    
}

[class^="li1"] span {    
    margin-left: 5px;
    color: #222222;
    transform: rotate(90deg);
    transition: background-color .3s;
}

[class^="li2"] {
    background-color: #E0E0E0;
    width: 140px;
    height: 45px;    
}

[class^="li2"] a {
    height: 100%;
    display: block;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #222;
    font-family: roboto3;    
    font-size: 13px;
    font-weight: 00;
    box-shadow: inset 3px 3px 5px rgba(255,255,255,.5), inset -2px -2px 4px rgba(0,0,0,.5), 2px 2px 3px rgba(0,0,0,.1);
    border-bottom: 4px solid var(--c2);
    transition: background-color .3s;
}
  
.li1 :hover {
    background: #FEFEFE;
/*    transition: opacity 0.5s ease-in-out;*/
}



/*--------estilos del buscador--------*/
.buscador {
        background-color: var(--f2);
        width: 100%;
        height: 80px;
        padding: 0 14px 1px;
        font-size: 14px;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;        
        z-index: 8;
    }

    #input-search {
        width: 40%;
        height: 32px;
        padding-left: .4em;
        font-family: roboto1, sans-serif;
        font-size: 14px;
        letter-spacing: 0em;             
    }

    .adornos {
        width: 50px;
        height: 40px;
        color:#fff;
        background-color: var(--c1);
        border-radius: 0 5px 5px 0;
        display: flex;
        justify-content: center;
        align-items: center;       
        position: relative;
        cursor: pointer;
        margin-left: -1px;
    }

    .lupa {
        width: 22px;    
    }

    .adornos:hover .lupa {
        width: 24px;   
    }

    .content-search {        
        display: none;
    }

    .content-table {
        width: 100%;
        height: 100vh;
        padding: 0 15px;
        background-color: rgba(255, 255, 255, .7);
        position: absolute;
        left: 0;
        top: 100%;        
    }

    .table {
        width: calc(40% + 50px);
        height: 250px;
        margin-left: auto;
        margin-right: auto;
        background-color: #FFF;
        border: 1px solid #999;
        padding: 4px 0;
        position: relative;
        overflow-x: hidden;     
    }

    tbody tr td a {
        width: 254px;
        min-height: 40px;
        color: #555;
        padding-left: .3em;
        line-height: 1.4em;
        border-bottom: 1px solid #DDDDDD;
        text-decoration: none;
        display: block;
        display: flex;
        align-items: center;        
    }

    tbody tr td a:hover {
        background-color: var(--g1);
        color: #000;
        border-bottom: 1px solid #aaaaaa;
    }

.xbuscador {
    width: 32px;
    height: 32px;
    background-color: var(--c1);
    color: #FFF;       
    font-size: 30px;
    text-decoration: none;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 9px;    
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 4px;
    padding-left: 1px;
    transition: all .2s;   
}
    

tr span {
    color: var(--c1);
    font-size: 20px;    
    margin-left: -5px;
}    

#table_length, #table_filter, #table_info, #table_paginate {
    display: none;
}
/*-------- fin estilos del buscador --------*/



/*----- estilos contenido -----*/
.envase {
    background-color: var(--f2);
    padding: 0 20px 20px 20px;
    display: flex;
    justify-content: space-between;         
}

.contenido {   
    width: 100%;    
}

section {        
    background: var(--f2);   
}

.articulo {
    text-align: justify;
    padding-bottom: 10px;    
}

h1 {    
    padding: 0 10px 0 68px;
    height: 54px;        
    font-size: 15px;
    font-family: roboto3;
    font-weight: 500;
    letter-spacing: 0.02em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: pre;       
    position: relative;    
    display: flex;
    align-items: center;
}

.cont-subtitulo {    
    max-width: 335px;
    height: 54px;
    display: flex;
    align-items: center;   
    position: relative;
}


.subtitulo {
    background-color: var(--c1);
    color: #FFFFFF;
    width: 230px;
    height: 44px;
    display: flex;
    align-items: center;
    box-shadow: inset 3px 3px 5px rgb(255 255 255 / 20%), inset -2px -2px 3px rgb(0 0 0 / 30%), 2px 2px 3px rgb(0 0 0 / 10%);
}

.subt-adorno {    
    background-color: var(--c1);
    width: 48px;
    height: 54px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 12px;
    box-shadow: inset 3px 3px 5px rgb(255 255 255 / 20%), inset -2px -2px 3px rgb(0 0 0 / 30%), 2px 2px 3px rgb(0 0 0 / 10%);
}

        .flecha11 {
            background-color: var(--b);
            width: 14px;
            height: 16px;    
            clip-path: polygon(0 0, 50% 0, 100% 50%, 50% 100%, 0 100%, 50% 50%);
            position: relative;
            left: 2px
        }

        .flecha11b{    
            background-color: var(--b);
            width: 14px;
            height: 16px;
            clip-path: polygon(0 0, 50% 0, 100% 50%, 50% 100%, 0 100%, 50% 50%);
            position: relative;
            right: 1px
            
        }

h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-family: roboto3;
    font-weight: 500;        
    padding: 16px 0 0 0;
}

hr {
    width: 200px;
    margin-top: 16px;
    margin-right: auto;
    margin-left: auto;
    border-top: 1px solid var(--c1);
}
        
        .flecha3 {
            background-color: var(--g2);
            width: 6px;
            height: 15px;
            box-shadow: 8px 0 0 var(--c1);
            margin-right: 18px;
        }

        .marcador, .marcadorh1 {           
            width: 18%;                        
            position: absolute;
            bottom: 0;
            right: 0;
            border-left: 8px solid transparent;
            border-bottom: 5px solid var(--c1);  
        }

        .cont-minienlace {
            display: flex;
            align-items: center;       
            margin-left: 8px
        }

        [class^="minienlace"] {
            background-color: #E0E0E0;
            width: 38px;
            height: 38px;            
            padding: 7px;
            margin-left: 12px;
            margin-right: 0px;
            border-radius: 25px;
            cursor: pointer;
            box-shadow: inset 3px 3px 5px rgba(255,255,255,.5), inset -2px -2px 4px rgba(0,0,0,.5), 2px 2px 3px rgba(0,0,0,.1);  
        }

.respaldo p {    
    line-height: 1.6em;
    padding: 15px 15px 0 15px;
    text-align: justify;
}

.span2 {
    font-family: roboto2;
}

.span3 {
    font-family: roboto3;
}

        .cont-enlace {
            font-family: roboto3;
            padding: 0 15px;
            margin: 10px 0;            
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;            
            gap: 15px; 
        }

        .cont-enlace > div {
            display: flex;
        }

        .enlace {            
            color: #000000;
            padding: 13px 15px;
            text-decoration: none;
            border: 1px solid #D1D1D1;
            box-shadow: 2px 2px 2px lightslategray;            
            display: flex;
            align-items: center;
            justify-content: center;
        }

.contlike2 {
    padding: 13px 0 0 0;
    margin-left: -7px
}
/*--- fin estilos contenido ---*/



/*---------- estilos modal info ----------*/
dialog {    
        position: fixed;    
        width: 100%;
        height: 100vh;    
        background-color: var(--t2);
        border: 0;
        z-index: 20;    
        top:0;
        left: 0;    
    /*    display: none;*/
    }

    .contmi1 {    
        width: 50%;
        margin-left: auto;
        margin-right: auto;    
        height: 100vh;
        padding: 13px;
        display: flex;
        justify-content: center;
        align-items: center;   
    }

    .art-modal  {    
        width: 100%;    
        background: #0E0F10;       
        padding: 12px 15px;        
        border: 1px solid #FFF;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }

    .texto {   
        color:#FFF;    
        font-size: 14px;
        text-align: justify;
        align-self: flex-start;
        letter-spacing: .02em;
        line-height: 1.7em;
        white-space: normal;
        font-weight: 500;    
    }

    .art-img {
        max-width: 100%;
    }

.x, .botonx {
        width: 35px;
        height: 35px;
        background-color: rgba(0, 0, 0, .7);
        color: #FFF;
        border: 2px solid #FFF;    
        font-size: 25px;
        text-decoration: none;
        cursor: pointer;
        position: absolute;
        margin: auto;
        top: auto;
        bottom: 10px;    
        left: 0;
        right: 0;        
        display: flex;
        justify-content: center;
        align-items: center;        
    }    
/*-------- fin estilos modal info --------*/



/*----------- inicio aside ---------*/
aside {    
    padding: 0 0 0 30px;    
    font-size: 13.4px;
    display: flex;
    justify-content: center
}

.contaside {    
    width: 320px;    
    display: flex;
    flex-direction: column;
    gap: 20px;   
}

[class^="aside"] {
/*    padding-bottom: 20px;*/
    position: relative; 
}

.aside1::before {
            content: "";
            display: block;
            width: 58%;
            height: 36px;    
            background-color: var(--c1);
            position: absolute;
            z-index: 5;
            box-shadow: inset 3px 3px 5px rgb(255 255 255 / 20%), inset -2px -2px 3px rgb(0 0 0 / 30%), 2px 2px 3px rgb(0 0 0 / 10%);
}

.aside1::after {
            content: "";
            display: block;
            width: 68%;
            height: 22px;
            position: absolute;
            top: 7px;
            right: 7px;
            background-color: rgba(200, 200, 200, .8);   
            z-index: 5; 
}

.cont1 {
    background-color: var(--f4);    
    color: var(--c1);    
    height:164px; 
    max-height: 164px;
    padding: 10px;
    border:1px solid #D1D1D1;   
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;    
}


        .cont1::after {
            content: "";
            display: block;
            width: 50%;
            height: 10px;          
            position: absolute;
            bottom: 0;    
            left: 50%;
            border-left: 20px solid transparent;
            border-bottom: 10px solid var(--c1);
            
        }

        .cont1::before{
            content: "";
            display: block;
            width: 20px;
            height: 20px;
            background: var(--c1);
            position: absolute;
            bottom: 8px;   
            left: 8px;
            opacity: .8;            
            box-shadow: 8px -8px 0px rgba(200, 200, 200, .6)
            
        }

        .tarjeta {
            padding-bottom: 8px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-top: 26px solid transparent;
        }

.tarjeta p {   
    padding: 0 20px 0 0px;
    font-size: 14px;
    font-family: changa1;
    text-align: center;    
    line-height: 1.6em;    
}

.reciclar {    
    width: 76px;
    height: 76px;    
    background-color: var(--c1);        
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: inset 3px 3px 5px rgb(255 255 255 / 20%), inset -2px -2px 3px rgb(0 0 0 / 30%), 2px 2px 3px rgb(0 0 0 / 10%);
}

.reciclar img {
    width: 70%
}

.cont2 {
    background-color: var(--f4);    
    color: var(--n);    
    padding: 36px 10px 15px 10px;    
    border: 1px solid #D1D1D1;    
    display: flex;
    flex-direction: column;    
    justify-content: center;
    position: relative; 
}

.cont2 h3 {
    color: var(--n);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-family: roboto3;    
    font-size: 13px;
    width: 100%;
    height: 40px;
    border-bottom: 1px solid #d1d1d1;
    margin-bottom: 8px;
}

.aside2::before {
            content: "";
            display: block;
            width: 58%;
            height: 36px;    
            background-color: var(--c3);
            position: absolute;
            z-index: 5;   
}

.aside2::after {
            content: "";
            display: block;
            width: 68%;
            height: 22px;
            position: absolute;
            top: 7px;
            right: 7px;
            background-color: rgba(200, 200, 200, .8);   
            z-index: 5 
}

    .cont2 audio {
        margin-left: auto;
        margin-right: auto;
    }


    .cont2 img {
        width: 42%;
        margin-left: auto;
        margin-right: auto;        
        padding-bottom: 8px;
    }

    .ul4 {
        padding-left: 15px;    
        font-family: changa1, roboto1, sans-serif;       
        font-size: 14px;
        margin-top: 10px
    }

    .li4 {
        line-height: 2em;
        margin: 2px 0 5px 3px;

    }

    .a4 {
        text-decoration: none;
        color: var(--n);
    }


.contaside iframe {    
    height: 198px;
}
/*------------ fin aside ----------*/



/*----------- inicio footer ---------*/
footer {
    background-color: #EDEDED;    
}

    footer a:hover {
        color: #000;
    }

footer li {
    list-style: none;
    line-height: 2.3em;
}

footer a {
    text-decoration: none;
    color: inherit;
}

footer span {
    font-size: 17px;
}

.contfooter {
    background-color:#d1d1d3;
    color: #555;    
    border-top: 30px solid #b1b1b1;    
    padding: 10px;
    font-family: changa1;
    font-size: 14px;    
    display: flex;
    align-items: center;    
    flex-direction: column;    
}

.contsubfooter {
    width: 100%;
    padding: 5px 0;
    display: flex;     
    justify-content: center;    
    flex-wrap: wrap;    
}

[class^="subfooter"] {
    width: 33%;
    min-width: 180px;    
    padding: 5px 0;
    display: flex;
    flex-direction: column;
    align-items: center;    
}

.subfooter2 {    
    border-right: 1px solid #fff;
    border-left: 1px solid #fff;    
}

.subfooter3 {
    display: flex;
    flex-direction: row;
    justify-content: center;  
}

.subfooter3 div {
    padding:  0 10px;
    font-size: 20px
}

    .icon-facebook:hover {
        color: #3b5998;
    }

    .icon-youtube:hover {
        color: #c4302b;
    }

    .icon-twitter:hover {
        color: #00acee;
    }

    .icon-instagram:hover {
        color: #DD2A7B;
    }

.ifr-footer {   
    width: 100%;
    height: 160px;
    display: block;
}
/*------------ fin footer ----------*/



@media (max-width:1250px) {   
    
    [class^="li1"] {
        margin-right: 0;        
    }   
}


@media (max-width:1100px) { 
    
    header {
        display: none;
    }   
          
    nav > label {
        height: 60px;
        display: flex;        
        align-items: center;        
        justify-content: space-between;        
    }   
    
    #btn-menu:checked ~ .ul1 {
        transform: translate(0%);       
    }
    
    .img-menu {
        width: 34px;
        margin-left: 11px;
    } 
    
    .fuente {   
        font-size: 32px;
        padding-right: 18px;
        color: #FFF;       
        font-family: great, vivaldi, sans-serif;
        -webkit-box-reflect: below -24px -webkit-gradient(linear, left top, left bottom, from(transparent), to(rgba(255, 255, 255, 0.4)));
        z-index: -10;
    }
    
    nav {
        width: 100%;
        height: 60px;
        background: linear-gradient(var(--n), var(--c1));
        background-size: contain;
        position: fixed;        
        z-index: 10;        
    }
        
    .ul1 {        
        background: rgba(00, 00, 99, .2);
        height: 100vh; 
        flex-direction: column;
        justify-content: flex-start;
        position: relative;
        transform: translateX(-100%);
        transition: 0.4s;
    }   
    
    .ul2 {
        position: relative;
        left: 140px;
        bottom: 45px;           
    }   
    
    .liactivo {
        margin-left: 15px;        
    }
    
    
    /*----estilos del buscador(1100px)----*/
    .buscador{
        width: 100%;
        top: 60px;
    }
    
    #input-search {
        width: 70%;
    }
    
    .table {
        width: calc(70% + 50px);        
    }
    /*--fin estilos del buscador(1100px)--*/
    
    

    /*-----estilos contenido(1100px)-----*/    
    .envase {
        position: relative;
        top: 50px;
        flex-direction: column;
        padding: 10px 14px 0 14px;
    }
    
    .contenido {
        width: 100%;
        position: relative;        
    }
    /*---fin estilos contenido(1100px)---*/
    
    
    
    /*--------estilos modal info--------*/    
    .contmi1 {
        width: 100%;        
    }
    /*------fin estilos modal info------*/        

    
    
    /*----------- aside (1100px)--------*/    
    aside {             
        padding: 20px 0px;        
    }
    
    .contaside {
        width: 100%;       
        flex-direction: row;
        justify-content: space-around;
        flex-wrap:wrap;
    }
    
    [class^="aside"] {        
        width: 320px;        
    }       
    /*-------- fin aside (1100px)------*/
    
    
    
    /*--------- footer (1100px)-------*/    
    footer {
        position: relative;
        top: 50px;
    }    
    /*------- fin footer (1100px)-----*/  
    
}



@media (max-width:600px) {
    
    .subfooter2 {
        border: 0;        
    }
    
    [class^="aside"] {      
        margin: 0 ;
    }
    
    /*------estilos buscador(600px)------*/ 
    .buscador {
        height: 70px;
    }
    
    #input-search {
        width: 100%;
    }
    
    .table {
        width: 100%;
    }
    /*----fin estilos buscador(600px)----*/
    
    
    
    /*-----estilos contenido(600px)-----*/   
    
    .respaldo p {
        padding: 15px 5px 0 5px;
    } 
    /*-----estilos contenido(600px)-----*/
    
    
    
    /*--------- footer (600px)-------*/
    .contsubfooter {
        padding: 0;
    }
    /*--------- fin footer (600px)-------*/ 
}

@media (max-width:416px){ 
    
    [class^="subfooter"] {
        align-items: flex-start
    }
    
}



@media (max-height:333px) {
    
    nav {
        position: relative;
    }
    
    /*------estilos buscador(333px)------*/
    .buscador {
        top: 0;
    }
    /*----fin estilos buscador(333px)----*/    
    
    
    
    /*--unico cod que afecta estilo.css(333px)--*/
    .envase {
        top: 0;
        padding-top: 1px;
    }
    /*--fin unico cod que afecta estilo.css(333px)--*/
    
    
    
    /*------estilos del footer(333px)------*/
    footer {
        top: 0;
    }
    /*----fin estilos del footer(333px)----*/
}
