.redes {
    max-width: 300px;
    padding: 10px 10px 25px;
    border-bottom: 1px solid #C6C6C6;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;    
}

.redes span {
    font-size: 24px;
    padding-right: 10px;
    padding: 10px;
    cursor: pointer;
    color:var(--c1);
}

.botonNuevo {
    width: 200px;
    height: 42px;
    background: #E0E0E0;
    color: black;    
    margin-left: 13px;
    border: 0;
    border-left: 8px solid var(--c1);
    font-family: calibri;
    font-size: 14px;
    white-space: pre;    
    outline:none;
    box-shadow: inset 3px 3px 5px rgba(255,255,255,.5), inset -2px -2px 4px rgba(0,0,0,.5), 2px 2px 3px rgba(0,0,0,.1);
    display: flex;
    align-items: center;
    justify-content: center;      
}

.botonNuevo:hover {
    background: #FFFFFF;
}