{}
*, *::before, *::after{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --bordeaside: #83c8eb;
    --asidecolor1: hsl(195 100% 45%);
    --as3a: #091677;
    --as3b: #447EA7;    
    --as3c: #447EA7;
    --azul: #000888;
    --r1: #091677;    
    --r2: #909393;
    --r3: #03b3b9;
    --r4: #c00307;
}

body {   
    max-width: 1218px;
    margin-left: auto;
    margin-right: auto;    
    font-family: roboto1, sans-serif;
    font-size: 14px;
}

header {
    background: linear-gradient(#000000,#091677);
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;    
    margin-bottom: 2px;
    padding: 0 15px 0 27px;
}

img {
    display: block;
}

    .logo img{       
        width: 100%        
    }

    .trazo img{        
        width: 100%;
    }


.envase {   
    display: flex;
    background: #EDEDED;
    margin: 2px 0;    
}

.contenido {
    width: 73%;    
    border-right: 2px solid #FFF;
    padding: 10px;
}

section {        
    background: #FFFFFF;    
    margin-bottom: 2px;
    border-top: 1px solid #D1D1D1;
    border-left: 1px solid #D1D1D1;
    box-shadow: 1px 1px 1px lightslategray;   
}


/*---h1---*/
h1 {
    padding: 0 10px;
    height: 48px;        
    font-size: 14px;
    font-family: roboto3;
    font-weight: 500;
    letter-spacing: 0.02em;        
    border-bottom: 1px solid #C6C6C6;    
    position: relative;       
    white-space: pre; 
    overflow: hidden;
    text-overflow: ellipsis;
    display: flex;
    align-items: center;
}

        .flechita4 {                    
            margin-right: 2px;            
        }

        .marcador {           
            width: 18%;                        
            position: absolute;
            bottom: 0;
            right: 0;
            border-left: 8px solid transparent;
            border-bottom: 4px solid var(--azul);  
        }       

        .flechita5 {           
            position: absolute;            
            right: 10px;                   
        }

.cont-minienlace {
    display: flex;
    align-items: center;       
    margin-left: 8px;    
}

[class^="minienlace"] {
    width: 32px;
    height: 32px;
    background-color: midnightblue;    
    padding: 5px;
    margin-right: 13px;
    border-radius: 25px;
    cursor: pointer;    
}

dialog {    
    position: fixed;    
    width: 100%;
    height: 100vh;    
    background-color: rgba(00, 33, 99, .6);
    border: 0;
    z-index: 20;    
    top:0;
    left: 0;
}

.contmi1 {
    position: absolute;
    top: 0;
    width: 100%;       
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;   
}

.art-modal  {    
    width: 50%;    
    background: rgba(00, 00, 55, .8);       
    padding: 10px;    
    border: 1px solid #FFF;
    margin: 0px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
}

.texto {   
    color:#FFF;    
    font-size: 14px;
    text-align: justify;
    align-self: flex-start;
    letter-spacing: .02em;
    line-height: 1.5em;
    white-space: normal;
    font-weight: 500;    
}

.art-img {
    max-width: 100%;
}

.x {
    width: 35px;
    height: 35px;
    background-color: rgba(00, 00, 88, .6);
    color: #FFF;
    border: 1px solid #FFF;    
    font-size: 25px;
    text-decoration: none;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;    
}

    .x:hover {
        background-color: rgba(00, 00, 55, .8);  
    }

/*---fin h1---*/



.div1 {
    width: 320px;
    float: right;
    
}

h2 {
        display: flex;
        align-items: center;        
        font-size: 14px;
        font-family: roboto3;
        font-weight: 500;
        width: 40%;      
        padding: 12px 0;
        border-bottom: 1px solid #C6C6C6;
        margin-left: 15px;        
    }

    .subflechita {                
        margin-right: 6px;
        margin-bottom: 2px;
    }

p {    
   line-height: 1.5em;
   padding:10px 15px 0 15px;           
}

.articulo {
    text-align: justify;
    padding-bottom: 10px;
    color: #222222;
/*    color: #424242;*/  
}

.ul3 {
    padding: 0px 15px 0 35px;    
}

.li3 {    
    line-height: 1.5em;
    padding: 10px 0 0 0 
}

details {   
    padding: 10px;    
}

details p {
    padding: 8px 0;
}

summary {    
    outline: none;
    cursor: pointer;
    font-size: 13.4px;
    border: 1px solid var(--r2);
    padding: 10px;
    max-width: 180px;
    margin-right: auto;
    margin-left: auto;
    text-align: center
}

.himno {    
    text-align: center;
    line-height: 1.5em;    
    max-width: 600px;
    margin-right: auto;
    margin-left: auto;
    background-image: url(../imgs2/escudo1.png);
    background-size: 270px;
    background-repeat: no-repeat;
    background-position: center;   
}

.himno span {   
    font-size: 15px;
}

.doscolum {    
    -webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;
}


/*-----galeria de fotos-----*/
.contgal {
    display: flex;    
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 5px;    
}

.items {
    display: flex;
    flex-direction: column;
    align-items: center;    
    font-size: 12.4px;
    font-weight: 600;
    color:#333;
    width:245px;
    height:200px;   
    margin: 7px;    
    box-shadow: 1px 1px 2px #444;
    overflow: hidden;
    position: relative;
    transition: all .4s;       
}


.img {    
    width: 100%;
    height: 88%;
    padding: 7px;
    cursor: pointer;
    object-fit:cover;    
    transition: all .4s;   
}

.items:hover  { 
    transform: scale(1.05);    
}

.tfoto {
  margin-top: 2px;  
}

.modal {
    position: fixed;    
    width: 100%;
    height: 100vh;    
    background-color: rgba(00, 33, 99, .6);
    z-index: 20;    
    top:0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;    
}

.contmi {
    width: 980px;    
/*    width: 806px;*/
    display: flex;
    align-items: center;
    justify-content: center;
}

.modalimg {
    max-width: 100%;
    max-height: 100vh;
    border: 3px solid #FFF;    
}

.botonx {
    background-color: rgba(00, 00, 88, .6);
    width: 35px;
    height: 35px;
    color: #FFF;
    border: 1px solid #FFF;
    cursor: pointer;
    font-size: 25px;   
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;    
}
    .botonx:hover {
        background-color: rgba(00, 00, 55, .8);         
    }
/*-----fin galeria de fotos-----*/



/*=====*/


@media (max-width:1242px) {
    
    .envase {
        margin: 0;
    }   
    
    .contenido {
        border: 0;
        padding-top: 0;
    }   
    
}


@media (max-width:1000px) {     
    
    
}


@media (max-width:900px) {
    
    header {
        display: none;
    } 
    
    .envase {        
       position: relative;
       top: 51px;       
       flex-direction: column;
       padding-top: 10px; 
    }
    
    .contenido {
        width: 100%;
        position: relative;                
    }
    
    .art-modal {
        width: 100%;
    }
    
    .x, .botonx {
        top: auto;
        left: 0;
        right: 0;       
        bottom: 10px;
        margin: auto;       
        background-color: rgba(00, 00, 55, .8); 
    }

}


@media (max-width:480px){
    
    h2 {
        width: 60%;
        margin-left: 10px;
    }    
    
    p {
        padding: 10px 10px 0 10px;
    } 
    
    .ul3 {
        padding: 0px 12px 0 25px;
    } 
    
    .doscolum {    
    -webkit-column-count: 1; /* Chrome, Safari, Opera */
    -moz-column-count: 1; /* Firefox */
    column-count: 1;
    }
    
}