{}
*, *::before, *::after{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --c1: #c00307;
    --c2: #009bdb;
    --c3: #447EA7;    
}

body {
    color:
}

ul {
    padding-left: 15px;
    color: var(--c3);
    font-family: changa1, roboto1, sans-serif;
    font-size: 14px;        
}

li {
    line-height: 1.6em;
    margin: 2px 0 5px 3px;
        
}

aside a {
    text-decoration: none;
    color: inherit
}